.email-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.email-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.email-content h2 {
  padding: 1rem;
}

.email-data-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.email-content-body {
  padding: 1rem;
}

.left-buttons {
  display: flex;
  flex-direction: row;
}
